input[type=radio] {
  margin-bottom: 10px;
  width: 6%;
}

.answer {
  width: 80%;
  display: inline-block;
}

.btn {
  margin-top: 15px;
}

.dropdown {
  float: right;
}

.link {
  color: #0645AD;
  text-decoration: underline;
}

.results p {
  margin: 5%;
}

#design, #csharp, #java, #ruby, #inconclusive {
  display: none;
}
